.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:hsl(230, 100%, 99%);
    text-align: center;
    }


.container{
    margin:0 auto;
    padding:120px;
   
}
main{
    padding: 30px;
     padding-bottom:80px;
         /* background-image: url("../images/bg-pattern.svg"); */
     /* width:100%; */ 
     font-size:15px;
}

.card-container{
    padding:20px;
    margin:0 auto;
    background-color:white;
    border-radius: 8px;
    width:700px;
    height:450px;

}


.billing{
    text-align: center;
}

ul{
list-style: none;
text-align: left;
}

.slider{
    width:50%;
    padding-top:15px;
}