.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

body{
    background:hsl(230, 100%, 99%);
    text-align: center;
}


.container{
    margin:0 auto;
    padding:120px;
   
}
main{
     padding-bottom:80px;
}

.card-container{
    padding:20px;
    margin:0 auto;
    background-color:white;
}


.billing{
    text-align: center;
}

ul{
list-style: none;
text-align: left;
}